body {
    padding: 0;
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
    font-size: 15px;
    color: #353535;
    text-decoration: none;
}

.page {
    max-width: 500px !important;
    margin: 0 auto;
    width: 100%;
}

* {
    outline: none !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

p {
    margin: 0 0 10px 0;
}

a {
    text-decoration: none;
    color: inherit !important;
}

.DayPicker-Caption {
    color: #7eb4ce;
}

.DayPicker-Caption > div {
    font-size: 1.3em;
}

.MuiSwitch-root-4 {
    margin-left: auto !important;
}
